
body {
    background-color: black;
    font-family: 'Montserrat', Arial, sans-serif;
}

/* Header */

header {
    height: 100px;
}

.site-header {
    display: flex;
    border-bottom: 1px solid whitesmoke;
    justify-content: space-between;
    align-items: center;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid #8d0040;*/
}

.brand {
    position: absolute;
    left: 150px;
    top: 0;
    display: inline-block;
}

.nav__wrapper {
    display: flex;
    margin-left: 333px;
    /*border: 1px solid #bd0040;*/
}

.nav__item {
    display: block;
    padding: 15px 37px;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
    /*border: 1px solid #bd0c0c;*/
}

.nav__item a {
    text-decoration: none;
    color: whitesmoke;
}

.block {
    display: block;
    border: 1px solid red;
    background-color: transparent;
    color: red;
    align-items: left;
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    margin-right: 140px;
    cursor: pointer;
    text-align: center;
    height: 50px;
    width: 150px;
    font-weight: 600;
}

/* Footer */

footer {
    height: 440px;
    color: whitesmoke;
}

.site-footer {
    border-top: 1px solid whitesmoke;
}

.site-footer__wrapper {
    display: flex;
    justify-content: right;
    /*border: 1px solid blue;*/
    margin-top: 80px;
    margin-left: 700px;
    flex-wrap: wrap;
}

.nav__column {
    /*border: 1px solid whitesmoke;*/
    padding: 10px;
    margin-right: 80px;
}

.info {
    width: 220px;
    margin-right: 110px;
}

.footer__nav-title {
    text-align: left;
    padding-left: 0;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.flex-column {
    flex-direction: column;
}

.nav__footer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.nav__footer li {
    padding-top: 20px;
    font-weight: 500;
    font-size: 18px;
    display: block;
}

.nav__footer a {
    text-decoration: none;
    color: whitesmoke;
}

.special {
    line-height: 1.8;
}

.brand__footer {
    position: absolute;
    left: 150px;
    margin-top: 90px;
    display: inline-block;
}

.citadel_logo {
    position: absolute;
    left: 320px;
    margin-top: 125px;
    height: 50px;
    display: inline-block;
}

/* Main*/

.site-main__news {
    color: whitesmoke;
}

.site-main__wrapper {
    display: flex;
    justify-content: flex-start;
    /*border: 1px solid blue;*/
    margin-top: 80px;
}

.nav-main__column {
    /*border: 1px solid whitesmoke;*/
    padding: 10px;
    margin-left: 140px;
    width: 250px;
}

.main__nav-title {
    text-align: left;
    padding-left: 0;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
}

.flex-column-main {
    flex-direction: column;
}

.nav__main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.nav__main li {
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.nav__main li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.site__main-content {
    display: flex;
    /*border: 1px solid red;*/
    margin-top: 0;
    margin-left: 120px;
    width: 1220px;
    flex-direction: column;
    margin-bottom: 50px;
}

.site__title {
    font-size: 64px;
    font-weight: bold;
}

.news_content {
    margin-top: 50px;
    display: flex;
    height: 220px;
    width: 100%;
    /*border: 1px solid yellow;*/
    background-color: #1B1B1B;
    overflow: hidden;
}

.img_content {
    width: 445px;
    overflow: hidden;
}

.img_content img {
    width: 100%;
}

.box {
    /*border: 1px solid red;*/
    width: 90px;
    height: 250px;
    transform: rotate(-20deg);
    background-color: #1B1B1B;
    margin-left: -55px;
    margin-top: -25px;
}

.text_box {
    display: flex;
    flex-direction: column;
    width: 755px;
    /*border: 1px solid blue;*/
    margin-left: -15px;
}

.text_box span {
    /*border: 1px solid pink;*/
    margin-right: 25px;
}

.grey_text-1 {
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8D8D8D;
    z-index: 1;
    /*border: 1px solid red;*/
    display: flex;
}

.grey_text-2 {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8D8D8D;
    z-index: 1;
    /*border: 1px solid red;*/
    display: flex;
}

.main_text {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 81px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main_text a {
    text-decoration: none;
    color: whitesmoke;
}

.main_text:hover {  
    text-decoration: underline;
    cursor: pointer;
}
