<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citadel - News</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/news.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
    </style>
</head>
<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <a href="{% url 'Citadel' %}" class="brand"><svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V120H120V0H0ZM65.8077 96.1363C43.346 96.1363 26.4243 80.0033 26.4243 60.0146C26.4336 51.8072 29.3599 43.8702 34.6807 37.6211H43.1805L26.4243 23.8637C32.541 26.1921 39.0308 27.3865 45.5757 27.3882C50.0381 27.3917 54.4833 26.8356 58.8073 25.7331H58.9631C64.4874 24.3895 70.2533 24.3895 75.7777 25.7331H75.8361C78.6693 26.4363 81.3896 27.5343 83.9172 28.9947C85.1148 29.6763 86.3611 30.426 87.2276 31.0394L80.675 48.9249L79.9546 45.6633L79.8377 45.6049C75.7994 42.5171 70.862 40.8348 65.7785 40.8146C64.9606 40.8146 64.1428 40.8146 63.3542 40.9412C52.7026 42.0024 44.9039 49.9862 44.9039 60.0146C44.9039 70.7245 53.9099 79.2146 65.7785 79.2146C70.9032 79.1128 75.862 77.3803 79.9351 74.2686L80.7043 71.0751L87.2568 88.9899C80.8698 93.4686 73.8596 96.1363 65.8077 96.1363Z" fill="white"/>
                </svg></a>
            <nav class="nav">
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="{% url 'news' %}">НОВОСТИ</a></li>
                    <li class="nav__item"><a href="{% url 'media' %}">МЕДИА</a></li>
                    <li class="nav__item"><a href="{% url 'Citadel' %}">ТУРНИРЫ</a></li>
                    <li class="nav__item"><a href="{% url 'Citadel' %}">МАГАЗИН</a></li>
                    <li class="nav__item"><a href="{% url 'Citadel' %}">О НАС</a></li>
                </ul>
            </nav>
        </div>
        {% if request.user.is_authenticated %}
        <p class="block">{{ user.username }} <button type="button" class="block" onclick="window.location.href='{% url 'logout' %}'">Выйти</button></p>
        {% else %}
        <button type="button" class="block" onclick="window.location.href='{% url 'login' %}'">ВОЙТИ</button>
        {% endif %}
    </header>

    <main class="site-main__news">
        <div class="wrapper site-main__wrapper">
            <div class="nav-main__column">
                <p class="main__nav-title">Новости</p>
                <ul class="nav__main flex-column-main">
                    <li onclick="hiddenClick()">Все</li>
                    <li onclick="hiddenClick('cs-go')">Counter-Strike</li>
                    <li onclick="hiddenClick('dota-2')">Dota 2</li>
                    <li onclick="hiddenClick('fifa')">FIFA</li>
                    <li onclick="hiddenClick('lol')">League of Legends</li>
                    <li onclick="hiddenClick('event')">События</li>
                </ul>
            </div>
            <div class="site__main-content">
                <div class="site__title">ВСЕ НОВОСТИ</div>
                <div class="news_content cs-go all" id="cs-go">
                    <div class="img_content">
                        <img src="../../static/css/img/2x2.png">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">Counter-Strike</div>
                        <div class="main_text"><a href="article.html">COLIZEUM CUP по CS:GO в формате 2х2</a></div>
                        <div class="grey_text-2">Сегодня</div>
                    </div>
                </div>
                <div class="news_content dota-2 all" id="dota-2">
                    <div class="img_content">
                        <img src="../../static/css/img/urfu.jpg">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">Dota 2</div>
                        <div class="main_text">Результаты UrFU eSports League 2021 по Dota 2</div>
                        <div class="grey_text-2">Вчера</div>
                    </div>
                </div>
                <div class="news_content event all" id="event">
                    <div class="img_content">
                        <img src="../../static/css/img/rede.jpg">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">Событие</div>
                        <div class="main_text">Партнеры нашего супер мерча — RENE BASE</div>
                        <div class="grey_text-2">16 мая 2021</div>
                    </div>
                </div>
                <div class="news_content lol all" id="lol">
                    <div class="img_content">
                        <img src="../../static/css/img/lol.jpg">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">League of Legends</div>
                        <div class="main_text">Покоряем новые дисциплины! Формируем состав по League of Legends!</div>
                        <div class="grey_text-2">28 апреля 2021</div>
                    </div>
                </div>
                <div class="news_content dota-2 cs-go all" id="dota-2">
                    <div class="img_content">
                        <img src="../../static/css/img/csgo-dota.png">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">
                            <span>Dota 2</span>
                            <span>Counter-Strike</span>
                        </div>
                        <div class="main_text">Старт сезона: Открыта регистрация на UrFU eSports League 2021 по CS:GO и Dota 2</div>
                        <div class="grey_text-2">24 марта 2021</div>
                    </div>
                </div>
                <div class="news_content dota-2 all" id="dota-2">
                    <div class="img_content">
                        <img src="../../static/css/img/pro.jpg">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">Dota 2</div>
                        <div class="main_text">Самое время ворваться на турнир Кибер PROдвижение с сочным призовым фондом</div>
                        <div class="grey_text-2">29 января 2021</div>
                    </div>
                </div>
                <div class="news_content event all" id="cs-go" id="dota-2" id="event">
                    <div class="img_content">
                        <img src="../../static/css/img/amog.png">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">
                            <span>Dota 2</span>
                            <span>Counter-Strike</span>
                            <span>Событие</span>
                        </div>
                        <div class="main_text">Мощные турниры на КИБЕР НЕДЕЛЕ с командой Союза студентов ФТИ</div>
                        <div class="grey_text-2">9 декабря 2020</div>
                    </div>
                </div>
                <div class="news_content dota-2 all" id="dota-2">
                    <div class="img_content">
                        <img src="../../static/css/img/10k.png">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">Dota 2</div>
                        <div class="main_text">Совместно с Кибер ареной MEGADROM мы запускаем турнир по Dota 2</div>
                        <div class="grey_text-2">13 мая 2020</div>
                    </div>
                </div>
                <div class="news_content cs-go all" id="cs-go">
                    <div class="img_content">
                        <img src="../../static/css/img/p90.png">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">Counter-Strike</div>
                        <div class="main_text">Для тех, кто дома CITADEL организует турнир по CS:GO совместно с Мегадром</div>
                        <div class="grey_text-2">27 апреля 2020</div>
                    </div>
                </div>
                <div class="news_content cs-go all" id="cs-go">
                    <div class="img_content">
                        <img src="../../static/css/img/inmt.jpg">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">Counter-Strike</div>
                        <div class="main_text">Союз студентов ИНМТ УрФУ совместно с CITADEL запускает турнир по CS:GO</div>
                        <div class="grey_text-2">9 ноября 2020</div>
                    </div>
                </div>
                <div class="news_content dota-2 cs-go all" id="dota-2" id="cs-go">
                    <div class="img_content">
                        <img src="../../static/css/img/ak47.png">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">
                            <span>Dota 2</span>
                            <span>Counter-Strike</span>
                        </div>
                        <div class="main_text">Уже завтра стартуем совместный турнир с ИРИТ-РТФ! Дисциплины - Dota 2, CS GO...</div>
                        <div class="grey_text-2">8 ноября 2020</div>
                    </div>
                </div>
                <div class="news_content event all" id="event">
                    <div class="img_content">
                        <img src="../../static/css/img/pekus.jpg">
                    </div>
                    <div class="box"></div>
                    <div class="text_box">
                        <div class="grey_text-1">Событие</div>
                        <div class="main_text">Приветствуем первокурсников и поздравляем студентов всех курсов</div>
                        <div class="grey_text-2">1 сентября 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="footer_logos">
        <a href="#" class="brand__footer"><svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V120H120V0H0ZM65.8077 96.1363C43.346 96.1363 26.4243 80.0033 26.4243 60.0146C26.4336 51.8072 29.3599 43.8702 34.6807 37.6211H43.1805L26.4243 23.8637C32.541 26.1921 39.0308 27.3865 45.5757 27.3882C50.0381 27.3917 54.4833 26.8356 58.8073 25.7331H58.9631C64.4874 24.3895 70.2533 24.3895 75.7777 25.7331H75.8361C78.6693 26.4363 81.3896 27.5343 83.9172 28.9947C85.1148 29.6763 86.3611 30.426 87.2276 31.0394L80.675 48.9249L79.9546 45.6633L79.8377 45.6049C75.7994 42.5171 70.862 40.8348 65.7785 40.8146C64.9606 40.8146 64.1428 40.8146 63.3542 40.9412C52.7026 42.0024 44.9039 49.9862 44.9039 60.0146C44.9039 70.7245 53.9099 79.2146 65.7785 79.2146C70.9032 79.1128 75.862 77.3803 79.9351 74.2686L80.7043 71.0751L87.2568 88.9899C80.8698 93.4686 73.8596 96.1363 65.8077 96.1363Z" fill="white"/>
            </svg></a>
        <img class="citadel_logo" src="../../static/css/img/citadel.png">
        </div>
        <div class="wrapper site-footer__wrapper">
            <div class="nav__column">
                <p class="footer__nav-title">CITADEL</p>
                <ul class="nav__footer flex-column">
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">О Нас</a></li>
                    <li><a href="#">Магазин</a></li>
                    <li><a href="#">Партнёры</a></li>
                    <li><a href="#">Медиа</a></li>
                </ul>
            </div>
            <div class="nav__column">
                <p class="footer__nav-title">ДИСЦИПЛИНЫ</p>
                <ul class="nav__footer flex-column">
                    <li><a href="#">Все</a></li>
                    <li><a href="#">Counter-Strike: GO</a></li>
                    <li><a href="#">League of Legends</a></li>
                    <li><a href="#">Dota 2</a></li>
                    <li><a href="#">FIFA</a></li>
                </ul>
            </div>
            <div class="nav__column">
                <p class="footer__nav-title">СОЦИАЛЬНЫЕ СЕТИ</p>
                <ul class="nav__footer flex-column">
                    <li><a href="#">ВКонтакте</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li><a href="#">Twitch</a></li>
                    <li><a href="#">Discord</a></li>
                </ul>
            </div>
            <div class="nav__column info">
                <p class="footer__nav-title">ИНФОРМАЦИЯ</p>
                <ul class="nav__footer flex-column">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li class="special"><a href="#">Политика конфеденциальности</a></li>
                    <li><a href="#">Условия и положения</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../../static/js/hide_flex.js"></script>
</body>
</html>