{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citadel - Player</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/player.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
    </style>
</head>
<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <a href="{% url 'Citadel' %}" class="brand"><svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V120H120V0H0ZM65.8077 96.1363C43.346 96.1363 26.4243 80.0033 26.4243 60.0146C26.4336 51.8072 29.3599 43.8702 34.6807 37.6211H43.1805L26.4243 23.8637C32.541 26.1921 39.0308 27.3865 45.5757 27.3882C50.0381 27.3917 54.4833 26.8356 58.8073 25.7331H58.9631C64.4874 24.3895 70.2533 24.3895 75.7777 25.7331H75.8361C78.6693 26.4363 81.3896 27.5343 83.9172 28.9947C85.1148 29.6763 86.3611 30.426 87.2276 31.0394L80.675 48.9249L79.9546 45.6633L79.8377 45.6049C75.7994 42.5171 70.862 40.8348 65.7785 40.8146C64.9606 40.8146 64.1428 40.8146 63.3542 40.9412C52.7026 42.0024 44.9039 49.9862 44.9039 60.0146C44.9039 70.7245 53.9099 79.2146 65.7785 79.2146C70.9032 79.1128 75.862 77.3803 79.9351 74.2686L80.7043 71.0751L87.2568 88.9899C80.8698 93.4686 73.8596 96.1363 65.8077 96.1363Z" fill="white"/>
                </svg></a>           
            <nav class="nav">
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="{% url 'news' %}">НОВОСТИ</a></li>
                    <li class="nav__item"><a href="{% url 'media' %}">МЕДИА</a></li>
                    <li class="nav__item"><a href="{% url 'Citadel' %}">ТУРНИРЫ</a></li>
                    <li class="nav__item"><a href="{% url 'Citadel' %}">МАГАЗИН</a></li>
                    <li class="nav__item"><a href="{% url 'Citadel' %}">О НАС</a></li>
                </ul>
            </nav>
        </div>
        {% if request.user.is_authenticated %}
        <p class="block">{{ user.username }} | <button type="button" class="block" onclick="window.location.href='{% url 'logout' %}'">Выйти</button></p>
        {% else %}
        <button type="button" class="block" onclick="window.location.href='{% url 'login' %}'">ВОЙТИ</button>
        {% endif %}
    </header>

    <main class="site-main__player">
        <iframe src="https://player.twitch.tv/?channel=st1k_hm&parent=player.html" 
        frameborder="0" 
        allowfullscreen="true" 
        scrolling="no" height="720" width="1280"></iframe>
    </main>

    <footer class="site-footer">
        <div class="footer_logos">
        <a href="#" class="brand__footer"><svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V120H120V0H0ZM65.8077 96.1363C43.346 96.1363 26.4243 80.0033 26.4243 60.0146C26.4336 51.8072 29.3599 43.8702 34.6807 37.6211H43.1805L26.4243 23.8637C32.541 26.1921 39.0308 27.3865 45.5757 27.3882C50.0381 27.3917 54.4833 26.8356 58.8073 25.7331H58.9631C64.4874 24.3895 70.2533 24.3895 75.7777 25.7331H75.8361C78.6693 26.4363 81.3896 27.5343 83.9172 28.9947C85.1148 29.6763 86.3611 30.426 87.2276 31.0394L80.675 48.9249L79.9546 45.6633L79.8377 45.6049C75.7994 42.5171 70.862 40.8348 65.7785 40.8146C64.9606 40.8146 64.1428 40.8146 63.3542 40.9412C52.7026 42.0024 44.9039 49.9862 44.9039 60.0146C44.9039 70.7245 53.9099 79.2146 65.7785 79.2146C70.9032 79.1128 75.862 77.3803 79.9351 74.2686L80.7043 71.0751L87.2568 88.9899C80.8698 93.4686 73.8596 96.1363 65.8077 96.1363Z" fill="white"/>
            </svg></a>
        <img class="citadel_logo" src="../../static/css/img/citadel.png">
        </div>
        <div class="wrapper site-footer__wrapper">
            <div class="nav__column">
                <p class="footer__nav-title">CITADEL</p>
                <ul class="nav__footer flex-column">
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">О Нас</a></li>
                    <li><a href="#">Магазин</a></li>
                    <li><a href="#">Партнёры</a></li>
                    <li><a href="#">Медиа</a></li>
                </ul>
            </div>
            <div class="nav__column">
                <p class="footer__nav-title">ДИСЦИПЛИНЫ</p>
                <ul class="nav__footer flex-column">
                    <li><a href="#">Все</a></li>
                    <li><a href="#">Counter-Strike: GO</a></li>
                    <li><a href="#">League of Legends</a></li>
                    <li><a href="#">Dota 2</a></li>
                    <li><a href="#">FIFA</a></li>
                </ul>
            </div>
            <div class="nav__column">
                <p class="footer__nav-title">СОЦИАЛЬНЫЕ СЕТИ</p>
                <ul class="nav__footer flex-column">
                    <li><a href="#">ВКонтакте</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li><a href="#">Twitch</a></li>
                    <li><a href="#">Discord</a></li>
                </ul>
            </div>
            <div class="nav__column info">
                <p class="footer__nav-title">ИНФОРМАЦИЯ</p>
                <ul class="nav__footer flex-column">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li class="special"><a href="#">Политика конфеденциальности</a></li>
                    <li><a href="#">Условия и положения</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>